<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Dodawanie użytkownika</h1>
    <form action="users/add" method="post">
        <label>Imię</label>
        <br><input type="text" name="fname"><br>
        <label>Nazwisko</label>
        <br><input type="text" name="lname"><br>
        <label>Email</label>
        <br><input type="text" name="email"><br>
        <label>Username</label>
        <br><input type="text" name="username"><br>
        <input type="submit">
    </form>
</body>
</html>