<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/login.css"/>
    </head>
    <body>
        <form action="/login">
            <div id="container">
                <p>Log in: </p>
                <label>Username:  <input class="input" type="text" name="username" required="true"/></label>
                <br><br>
                <label>Password:  <input class="input" type="password" name="password" required="true"/></label>
                <br>
                <a href="">Forgot password</a>
                <a href="register.html" >I don't have an account</a><br>
                <input class="submit" type="submit" value="Log in"/>
            </div>
        </form>
    </body>
</html>