<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Products</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/main.css"/>
    </head>
    <body style="margin:0;">
        <div class="topbar" id="topnav" >
            <div class="topbaritem"><a href="index">Home</a></div>
            <div class="topbaritem"><a href="sales">Sales</a></div>
            <div class="topbaritem"><a href="" class="active">Products</a></div>
            <div class="topbaritem" style="float: right;"><a href="settings">Settings</a></div>
            <div class="topbaritem" style="float: right;"><a href="account">Account</a></div>
            <div class="topbaritem" style="margin: auto;width: 45%; float: right;">
                <div id="searchbar">
                    <form action="/search">
                        <input  id="search_submit" type="submit" value="Search">
                        <input id="search_input" type="text" name="value" required="true" >
                    </form>
                </div>
            </div>
        </div>
        <div style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
            <p>All products</p>
        </div>        
        <div class="bottom">
            <h3>Contact:</h3>
                This is not a working site, it was created only in learning purpouses <br>
                My buissness mail: m.pilch2002@gmail.com<br><br>

        </div>
    </body>
</html>
